/* OCRBStd.otf 불러오기 */
@font-face {
  font-family: 'Tasan Regular';
  src: url('fonts/Tasan Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Regular.otf';
  src: url('fonts/SourceSansPro-Regular.otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold.otf';
  src: url('fonts/SourceSansPro-Bold.otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}





body {
 

  margin: 0;
  padding: 0px;
  text-align: center;
  background-color: #111; 
}

body.main-bg { 
  background-color: #111; 
  }
body.detail-bg { 
  background-color: #fff; 
  }
body.gallery-bg { 
  background-color: #111; 
  }


/* 메인페이지 전용 폰트 */
#mainPage {  
  display: flex;
  flex-direction: column;   /* 세로 배치 */
  align-items: center;      /* 가로 중앙 정렬 */
  justify-content: center;  /* 세로 중앙 정렬 (원하면) */
  gap: 40px;                /* 요소 간 간격 */
  min-height: 100vh;        /* 화면 전체 높이 채우기 */
  
}

   
   


/* 상세페이지 전용 폰트 */
#detailPage {
  color: #111a;
  display: flex;
  flex-direction: column;
  align-items: center;   /* 가로 중앙 */
  justify-content: center;
  padding: 0;         /* 부모 안쪽 여백 */

}

#detailPage button {
  display: block;
  margin: 20px auto;  /* 좌우 자동 → 중앙 */
  width: auto;
  background-color: #111;
  color: #eee;
      /* 버튼이 부모 폭을 다 차지하지 않도록 */
}


/* 모두보기 썸네일 페이지 전용 폰트 */
#galleryPage {
  color: #eee;
}



#message {
  font-family: 'Tasan Regular', sans-serif;
  font-size: clamp(16px, 4vw, 32px);

  color: #eee;
}

#dateInput {
  padding: 20px 30px;
  border-radius: 10px;
  
  font-family: 'Tasan Regular', sans-serif;
  text-align: center;
  font-size: clamp(16px, 4vw, 32px);
  color: #111;
}

#dateInput::placeholder {
  color: #bbb;              /* 플레이스홀더 글자 색상 */
  font-family: 'Tasan Regular', sans-serif;
  font-size: clamp(16px, 4vw, 32px);
}



#confirmBtn:hover .cls-1 {
  fill: #fff; /* hover 시 색상 변경 */
}


/* 공통 버튼 스타일 */
button {
  padding: 8px 14px;
  margin-top: 25px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: white;
  font-size: 0.9em;
  font-family: 'Tasan Regular', sans-serif;
  
}

button:hover {
  background: #357ab8;
}




#flowerImage {
  width: clamp(400px, 40%, 450px);
}

/* 제목/본문/맺음말 */
#flowerTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #2a4d69;
  margin-top: 15px;
}

#flowerBody {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
  margin-top: 10px;
}

#flowerClosing {
  font-style: italic;
  color: #666;
  margin-top: 12px;
}








/* 썸네일 그리드 기본 (PC 기준) */
.gallery-grid {
  margin-top: 160px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}



/* PC: 5열 */
.gallery-grid img {
  width: calc(100% / 5 - 12px);
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}



/* 메인페이지 버튼 항상 고정 */
#galleryPage .main-btn {
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  width: clamp(130px, 30%, 200px);
  
  border-radius:20px;
  
  background-color: #111;
  color: #eee;
  
  
}





/* 모바일 768px 이하 - 4열*/
@media (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }

  #flowerImage {
    width: 100%;          /* 화면 너비 꽉 채우기 */
    max-width: 100%;
    margin: 0;        /* 위쪽 여백 제거 */
  }

  #detailPage button {
    width: auto;
  }




.gallery-grid {
  margin-left: 0px;
  margin-right: 0px;
}

  .gallery-grid img {
    width: calc(100% / 3 - 8px);
  }


  .custom-input {
    width: 90%;
    font-size: 1em;
  }


  button {
    width: 90%;
    font-size: 1em;
    display: block;
  }


  #flowerTitle {
    font-size: 1.2em;
  }

  #flowerBody {
    font-size: 0.95em;
  }

  #flowerClosing {
    font-size: 0.9em;
  }


  /* 메인페이지 버튼 모바일에서 상단 중앙 */
  #galleryPage .main-btn {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
  }
}


