body {
  margin: 0;
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

#message {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.4;
}

#flowerImage {
  width: 100%;
  display: none;
  margin-top: -160px;
}

#flowerDesc {
  margin-top: 32px;
  font-size: 1rem;
  color: #333;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.8;
  word-break: keep-all;

  max-height: 200px; /* 원하는 높이로 제한 */
  overflow-y: auto;  /* 세로 스크롤 가능하게 */
  padding: 8px;

  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}


#inputArea {
  position: fixed;
  box-sizing: border-box;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  width: 100%;
  max-width: 240px;
  
}

input[type="text"] {
  padding: 12px;
  font-size: 3rem;
  border-radius: 44px;
  border: none;
  width: 90%;
  text-align: center;
  letter-spacing : 0.1em;

  color: #444;
 
}

.custom-input::placeholder {
  color: #ddd; /* placeholder 텍스트 색상 */
  opacity: 1; /* 일부 브라우저에서 흐리게 보이는 것 방지 */
}

button {
  padding: 16px;
  font-size: 1.4rem;
  border-radius: 44px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  color: #111;
  width: 60%;

  transition: background-color 0.4s ease;
}

button:active {
  background-color: #bbb;

}



/* 애니메이션 */
.fade-in {
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.slide-up {
  animation: slideUp 1s ease forwards;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 0.5s ease forwards;
}
@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
